{% extends 'base.html' %}

{% block style %}
{% endblock %}

{% block content %}
<div class="container">
    <h1><strong>Resources</strong> for Youth</h1>

    <section class="resources" id="experiences">
        <h1 class="section__title section__title--experiences"><strong>Finding food and shelter locally</strong></h1>
        <div class="experiences">

            <div class="shelter">
                <h2> <a href = "https://kingstonhomebase.ca/" > Home Base </a> </h2>
                <p>This organization provides housing and support services to people experiencing homelessness or at risk of homelessness in Kingston. They often need volunteers to help with various tasks such as meal preparation, administrative work, fundraising events, and outreach programs. </p>
                <p>Phone: 613-542-6672 </p>
                <p>Address: 540 Montreal St, Kingston, ON K7K 3J2</p>
            </div>

            <div class="shelter">

                <h2> <a href = "https://kingstonhomebase.ca/" > Home Base </a> </h2>
                <p>Phone: 613-542-6672 </p>
                <p>Address: 540 Montreal St, Kingston, ON K7K 3J2</p>
                <p>This organization provides housing and support services to people experiencing homelessness or at risk of homelessness in Kingston. They often need volunteers to help with various tasks such as meal preparation, administrative work, fundraising events, and outreach programs. </p>
                <p>Website: https://kingstonhomebase.ca/</p>
            </div>

            <div class="shelter">
                <h2> <a href = "https://kingstonhomebase.ca/" > Home Base </a> </h2>
                <p>Phone: 613-449-0916 </p>
                <p>Address: 218 Concession St, Kingston, ON, K7K 2B5</p>
                <p>The Kingston Street Mission offers meals, clothing, and support services to individuals experiencing homelessness and poverty in Kingston. Volunteers can assist with meal preparation, serving meals, organizing clothing donations, and engaging with guests. </p>
                <p>Website: https://211ontario.ca/service/79088349/kingston-street-mission-kingston-street-mission/</p>
            </div>
        </div>
    </section>
</div>
{% endblock %}
