<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Banks and Food Programs</title>
    <link rel="stylesheet" href="../static/css/foodbanks.css">
</head>
<body>
<div class="container">
    <h1><strong>Food Banks and Food Programs</strong></h1>

    <section class="resources" id="experiences">
        <h1 class="section__title section__title--experiences"><strong>Finding food and shelter in Kingston</strong></h1>
        <div class="experiences">
            <div class="experience">
                <h2><a href = "https://www.svdpkingston.com/emergency-food-pantry/">St. Vincent de Paul Society</a></h2>
                <p>Phone: 613-766-8432 </p>
                <p>Address: 85 Stephen Street, Kingston, ON, K7K 2C5</p>
                <p>St. Vincent de Paul provides practical support to individuals and families in the Kingston community.</p>
                <p>Website: https://www.svdpkingston.com/emergency-food-pantry/</p>
                <p>Hours of Operation: Meal program - Monday to Friday 10 am-1 pm, Emergency Food Pantry - Monday to Friday 9 am-1 pm.</p>
            </div>

            <div class = "experience">
                <h2><a href = "https://www.kingstonfoodbank.ca/"> Partners in Mission Food Bank </a> </h2>
                <p>Phone: 613-544-4100 </p>
                <p>Address: 140 Hickson Avenue, Kingston, ON, K7K 2N6</p>
                <p>Partners in Mission Food Bank provides non-perishable food items and fresh foods including milk, eggs, fruits and vegetables.</p>
                <p>Hours of Operation: Monday - Thursday 8:30 am - 12 noon and 1pm - 4:30pm, Friday 8:30 am - 12 noon and 1 pm - 4 pm. Closed weekends & holidays</p>
            </div>

            <div class="experience">
                <h2> <a href = "https://211ontario.ca/service/79088349/kingston-street-mission-kingston-street-mission/" > Kingston Street Mission </a> </h2>
                <p>Phone: 613-449-0916 </p>
                <p>Address: 218 Concession St, Kingston, ON, K7K 2B5</p>
                <p>The Kingston Street Mission offers meals, clothing, and support services to individuals experiencing homelessness and poverty in Kingston. Volunteers can assist with meal preparation, serving meals, organizing clothing donations, and engaging with guests. </p>
                <p>Hours of Operation: 8 pm-11 pm, Nov-Mar * nights depend on volunteer availability.</p>
            </div>

            <div class="experience">
                <h2><a href = "https://marthastable.ca/"> Martha's Table </a></h2>
                <p>Phone: 613-546-0320 </p>
                <p>Address: 629 Princess Street, Kingston, ON, K7L1E2</p>
                <p>Martha's Table offers a community kitchen program where they serve nutritious meals to individuals and families. They also operate a food pantry and other support services.</p>
                <p>Hours of Operation: 9: 00am-5:00pm, Monday to Friday</p>
            </div>

            <div class="experience">
                <h2><a href = "https://www.lovingspoonful.org/"> Loving Spoonful </a></h2>
                <p>Phone: 613-507-8848</p>
                <p>Address: 926b Montreal Street, Kingston, ON, K7K 3J9</p>
                <p>Loving Spoonful is a non-profit organization that promotes food security in Kingston. They operate various programs, including a community food program that distributes fresh produce and other food items.</p>
                <p>Hours of Operation: 8:30am-4:30pm, Monday to Friday</p>
            </div>

            <div class="experience">
                <h2><a href = "https://sacfs.ca/"> Salvation Army </a></h2>
                <p>Phone: 613-548-4411</p>
                <p>Address: 342 Patrick Street, Kingston, ON, K7K 6R6</p>
                <p>The Salvation Army in Kingston operates various programs to support individuals and families in need, including a food bank and meal programs.</p>
                <p>Hours of Operation: 8:30am-4:30pm, Monday to Tuesday and Thursday to Friday, 1:00pm to 4:30 Wednesday</p>
            </div>

        </div>
    </section>
</div>
</body>
</html>
