<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Serve Kingston Youth</title>
    <link href="home.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <section class="header">
        <nav>
            <a href="home.html"><img src="logo.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="{{ url_for('index') }}">HOME</a></li>
                    <li><a href="{{ url_for('volunteer') }}">VOLUNTEER</a></li>
                    <li><a href="{{ url_for('chat') }}">CHAT WITH US</a></li>
                    <li><a href="{{ url_for('resources') }}">RESOURCES</a></li>
                </ul>
            </div>
        </nav>

    </section>
</body>
</html>