<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Banks and Food Programs</title>
    <link rel="stylesheet" href="../static/css/shelters.css">
</head>
<body>
<div class="container">
    <h1><strong>Resources</strong> for Youth</h1>

    <section class="resources" id="experiences">
        <h1 class="section__title section__title--experiences"><strong>Finding food and shelter locally</strong></h1>
        <div class="experiences">

            <div class="shelter">
                <h2> <a href = "https://kingstonhomebase.ca/" > Home Base </a> </h2>
                <p>This organization provides housing and support services to people experiencing homelessness or at 
                    risk of homelessness in Kingston. They often need volunteers to help with various tasks such as meal preparation,
                    administrative work, fundraising events, and outreach programs. </p>
                <p>Phone: 613-542-6672 </p>
                <p>Address: 540 Montreal St, Kingston, ON K7K 3J2</p>
            </div>

            <div class="shelter">
                <h2> <a href = "https://kingstonintervalhouse.com/" > Interval House </a> </h2>
                <p>While primarily focused on providing support and shelter to women and children fleeing domestic violence, 
                    Kingston Interval House may also offer volunteering opportunities that indirectly support individuals 
                    facing homelessness. Volunteers can assist with childcare, administrative tasks, fundraising events, 
                    and providing emotional support to residents. </p>
                <p>Phone: (613) 546-1777 or 1 (800) 267-9445 </p>
                <p>Address: Kingston, ON K7L 5P5</p>
            </div>

            <div class="shelter">
                <h2> <a href = "https://kchc.ca/barrack-street/street-health-centre/" > Street Health Centre </a> </h2>
                <p>Street Health Centre offers healthcare and support services to individuals experiencing homelessness or at 
                    risk of homelessness. They provide medical care, counseling, harm reduction services, and referrals to 
                    housing resources. </p>
                <p>Phone: 613-549-1440 </p>
                <p>Address:115 Barrack Street, Kingston, ON K7K 0B4</p>
            </div>

            <div class="shelter">
                <h2> <a href = "https://www.efrykingston.ca/" > Elizabeth Fry Society of Kingston </a> </h2>
                <p>The Elizabeth Fry Society of Kingston offers housing support services and transitional housing for women 
                    involved in the criminal justice system or at risk of involvement. They provide housing assistance, 
                    counseling, advocacy, and life skills training. </p>
                <p>Phone: 613-544-1744 </p>
                <p>Address: 127 Bagot Street, Kingston, ON K7L 3E9 </p>
            </div>
        </div>
    </section>
</div>
</body>
</html>
